biopython==1.76
certifi==2020.4.5.1
chardet==3.0.4
coloredlogs==14.0
executor==21.3
fasteners==0.15
humanfriendly==8.2
idna==2.9
infi.clickhouse-orm==1.0.3
iso8601==0.1.12
monotonic==1.5
numpy==1.16.6
property-manager==3.0
pyrosetta==2019.19+release.5adc612f
pytz==2019.3
requests==2.23.0
six==1.14.0
urllib3==1.25.9
verboselogs==1.7
